<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="AllRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\log"/>
      <appendToFile value="true"/>
      <DatePattern value="yyyyMMdd&quot;.txt&quot;"></DatePattern>
      <maximumFileSize value="5000KB" />
      <maxSizeRollBackups value="-1" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\log"/>
      <appendToFile value="true"/>
      <DatePattern value="yyyyMMdd_Error&quot;.txt&quot;"></DatePattern>
      <maximumFileSize value="5000KB" />
      <maxSizeRollBackups value="-1" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="AllRollingLogFileAppender" />
      <appender-ref ref="ErrorRollingLogFileAppender" />
    </root>
  </log4net>
</configuration>